{% extends 'delivery/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <br>
            <br>
            <br>
            <h5>Orders Assigned to You</h5>
            {% if assigned_orders %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Seller</th>
                                <th><a href="#" data-toggle="modal" data-target="#billingDetailsModal">Billing Details</a></th>
                                <th><a href="#" data-toggle="modal" data-target="#orderProductDetailsModal">Order Product Details</a></th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assigned_order in assigned_orders %}
                                <tr>
                                    <td>{{ assigned_order.user }}</td>
                                    <td>{{ assigned_order.seller }}</td>
                                    <td><a href="#" class="billing-details-link" data-toggle="modal" data-target="#billingDetailsModal" data-billing-details="{{ assigned_order.billingdetails_id }}">View Billing Details</a></td>
                                    <td><a href="#" class="order-product-details-link" data-toggle="modal" data-target="#orderProductDetailsModal" data-order-id="{{ assigned_order.order_id }}">View Order Product Details</a></td>
                                    <td>{{ assigned_order.timestamp }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No orders assigned to you.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="billingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="billingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billingDetailsModalLabel">Billing Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="billingDetailsModalBody">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td id="billingFirstName"></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td id="billingLastName"></td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td id="billingState"></td>
                        </tr>
                        <tr>
                            <th scope="row">Street Address</th>
                            <td id="billingStreetAddress"></td>
                        </tr>
                        <tr>
                            <th scope="row">Apartment/Suite/Unit</th>
                            <td id="billingApartment"></td>
                        </tr>
                        <tr>
                            <th scope="row">Town/City</th>
                            <td id="billingCity"></td>
                        </tr>
                        <tr>
                            <th scope="row">Postcode/ZIP</th>
                            <td id="billingPostcode"></td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td id="billingPhone"></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td id="billingEmail"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Order Product Details Modal -->
<div class="modal fade" id="orderProductDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderProductDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderProductDetailsModalLabel">Order Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="orderProductDetailsModalBody">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Seller</th>
                        </tr>
                    </thead>
                    <tbody id="orderProductDetailsTableBody">
                        <!-- Order product details will be loaded here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add these links to your base.html or HTML file -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('.billing-details-link').click(function() {
            var billingDetailsId = $(this).data('billing-details');
            $.ajax({
                url: '/get-billing-details/' + billingDetailsId + '/',
                success: function(data) {
                    $('#billingFirstName').text(data.first_name);
                    $('#billingLastName').text(data.last_name);
                    $('#billingState').text(data.state);
                    $('#billingStreetAddress').text(data.street_address);
                    $('#billingApartment').text(data.apartment_suite_unit);
                    $('#billingCity').text(data.town_city);
                    $('#billingPostcode').text(data.postcode_zip);
                    $('#billingPhone').text(data.phone);
                    $('#billingEmail').text(data.email);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.order-product-details-link').click(function() {
            var orderId = $(this).data('order-id');
            $.ajax({
                url: '/get-order-product-details/' + orderId + '/',
                success: function(data) {
                    displayOrderProductDetails(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching order product details:', error);
                }
            });
        });

        function displayOrderProductDetails(data) {
            var tableBody = $('#orderProductDetailsTableBody');
            tableBody.empty(); // Clear previous content
            
            if (data.length === 0) {
                tableBody.append('<tr><td colspan="5">No order product details found</td></tr>');
                return;
            }
            
            $.each(data, function(index, item) {
                var row = $('<tr>');
                row.append('<td>' + item.product + '</td>');
                row.append('<td>' + item.price + '</td>');
                row.append('<td>' + item.quantity + '</td>');
                row.append('<td>' + item.total_price + '</td>');
                row.append('<td>' + item.seller + '</td>');
                tableBody.append(row);
            });
        }
    });
</script>
{% endblock %}
